extends layout.jade
block content
    .container.mt-2.text-xs-center
      h1.display-4 Weather forecast
      p 24 hours weather forecast in #{weatherData[0].city}
      .row
        .col-md-6.offset-md-3
          - for (var i = 0; i < weatherData.length; i++)
              p
                button.btn.btn-secondary.w-100.text-xs-left(type='button', data-toggle='collapse', data-target='#collapseExample' + i, aria-expanded='false', aria-controls='collapseExample')
                  span.float-xs-right #{Math.round(weatherData[i].main.temp)} °C
                  |              #{weatherData[i].dt_txt.slice(0,16)} #{weatherData[i].weather[0].description.charAt(0).toUpperCase() + weatherData[i].weather[0].description.slice(1)}
              div(class='collapse', id='collapseExample' + i)
                .card.card-block.p-0
                  ul.list-group.text-muted.text-xs-left
                    li.list-group-item
                      span.float-xs-right #{Math.round(weatherData[i].main.temp_min)} °C
                      |                   Min Temp
                    li.list-group-item
                      span.float-xs-right #{Math.round(weatherData[i].main.temp_max)} °C
                      |                   Max Temp
                    li.list-group-item
                      span.float-xs-right #{weatherData[i].main.humidity} %
                      |                   Humidity
                    li.list-group-item
                      span.float-xs-right #{Math.round(weatherData[i].wind.speed*3.6)} km/h
                      |                   Wind speed
                    li.list-group-item
                      span.float-xs-right #{weatherData[i].clouds.all} %
                      |                   Cloudiness
          a.btn.btn-primary.mt-0(href='/', role='button') New search

